* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  background-color: var(--clr-bg-primary);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
