.btn-red {
  background-color: var(--clr-bg-red);
  color: var(--clr-txt-light);
}

.main-header {
  background-color: var(--clr-bg-secondary);
  color: var(--clr-txt-light);
  display: flex;
  align-items: center;
  padding: var(--container-padding);
  box-shadow: var(--box-shadow);
}

main {
  --top-div-height: 3rem;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  & #create-project-form.hidden,
  & #create-todo-form.hidden,
  & #project-list.hidden,
  & #project-view-cont.hidden,
  & #todo-view.hidden {
    display: none;
  }

  & #create-project-form,
  & #project-view-cont,
  & #create-todo-form,
  & #todo-view {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--clr-bg-primary);
    border-radius: var(--border-radius);
  }

  & #project-view-cont {
    & article {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      & .head-buttons {
        display: flex;
        align-items: center;
        gap: 3rem;
      }

      & section {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        padding: var(--container-padding);
        overflow-y: hidden;

        & #project-view-description {
          padding: var(--container-padding);
        }

        & #project-view-todo-list {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          overflow-y: scroll;

          & li.regular {
            background-color: var(--clr-todo-regular);
          }

          & li.important {
            background-color: var(--clr-todo-important);
          }

          & li.urgent {
            background-color: var(--clr-todo-urgent);
          }

          & .btn.delete {
            pointer-events: none;
            background-color: #aaa;
            cursor: unset;
          }

          & li.completed {
            background-color: #aaa;

            & .btn.edit {
              pointer-events: none;
              background-color: #aaa;
              cursor: unset;
            }

            & .btn.delete {
              pointer-events: visible;
              background-color: var(--clr-bg-red);
              color: var(--clr-txt-light);
              cursor: pointer;
            }
          }

          /* TODO */
          & li {
            border: 1px solid #ccc;
            display: grid;
            grid-template-columns: 0.5fr 3fr 1fr 0.5fr;
            padding: 0.3rem 1rem;
            align-items: center;
            gap: 1rem;
            border-radius: var(--border-radius);
            background-color: var(--clr-bg-todo);

            & .info-container {
              text-align: left;
            }

            & .title {
              font-size: 1rem;
            }

            & .due {
              color: #777;
              font-size: 0.7rem;
            }

            & .project-name {
              font-size: 0.8rem;
            }

            & .check-box {
              border: 1px solid #aaa;
              width: 2.5rem;
              height: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: var(--border-radius);
              position: relative;
              cursor: pointer;

              &:hover::after {
                content: "";
                border: 2px solid var(--clr-bg-secondary);
                position: absolute;
                inset: 0;
                border-radius: inherit;
              }
            }

            & .button-container {
              display: flex;
              gap: 1rem;
            }
          }
        }
      }
    }
  }

  & #create-project-form,
  #create-todo-form {
    padding: var(--container-padding);
    display: flex;
    justify-content: center;

    & form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;

      & input[type="color"] {
        background-color: transparent;
        width: 50%;
        padding: 2px;
      }

      & > div {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
      }
    }
  }
  /* CREATE PROJECT FORM */
  & #create-project-form {
    & textarea {
      resize: none;
      height: 8rem;
    }

    & #project-color-radios {
      & input[type="radio"] {
        box-shadow: none;
      }

      & label {
        display: flex;
        gap: 1rem;
        box-shadow: var(--box-shadow);
        padding: 0.5em;
      }

      & .color-radios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        div {
          width: 24px;
          height: 24px;
        }
        & .color-1 {
          background-color: var(--clr-opt-1);
        }
        & .color-2 {
          background-color: var(--clr-opt-2);
        }
        & .color-3 {
          background-color: var(--clr-opt-3);
        }
        & .color-4 {
          background-color: var(--clr-opt-4);
        }
        & .color-5 {
          background-color: var(--clr-opt-5);
        }
        & .color-6 {
          background-color: var(--clr-opt-6);
        }
      }
    }
  }

  & .head-buttons {
    height: var(--top-div-height);
    padding: var(--container-padding);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    background-color: var(--clr-bg-secondary);
    color: var(--clr-txt-light);
    display: flex;
    align-items: center;
  }

  & #project-list {
    padding: var(--container-padding);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    height: calc(100% - var(--top-div-height));
    padding: var(--container-padding);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 5rem;
    gap: 1rem;
    cursor: pointer;

    & .project {
      box-shadow: var(--box-shadow);
      padding: var(--container-padding);

      & .title {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    & .project-zero {
      display: flex;
      align-items: center;
      justify-content: center;

      & .title {
        font-size: 1.5rem;
      }
    }
  }
}
