:root {
  --clr-bg-primary: #fefefe;
  --clr-bg-secondary: #3c3d47;
  --clr-bg-accent: #d1f8ef;

  --clr-bg-red: #e95c63;

  /* todo-colors */
  --clr-todo-regular: #faf1e6;
  --clr-todo-important: #c4d7ff;
  --clr-todo-urgent: #e9a5f1;

  --clr-txt-light: #f6f5f5;
  --clr-txt-dark: #333;

  --container-padding: 1rem;
  --border-radius: 8px;

  --box-shadow: 0 0 2px #999;
  --box-shadow-float: 3px 3px 1px #777;

  --clr-opt-1: #f6f6f6;
  --clr-opt-2: #ff6363;
  --clr-opt-3: #f6f7c4;
  --clr-opt-4: #578fca;
  --clr-opt-5: #a1eebd;
  --clr-opt-6: #d67bff;
}
