:root {
  --clr-bg-primary: #fefefe;
  --clr-bg-secondary: #adb2d4;
  --clr-bg-accent: #d1f8ef;
  --clr-bg-red: #e95c63;
  --clr-bg-todo: #ecf4f3;

  --clr-txt-light: #f6f5f5;
  --clr-txt-dark: #333;

  --container-padding: 1rem;
  --border-radius: 8px;

  --box-shadow: 0 0 2px #999;
  --box-shadow-float: 3px 3px 1px #777;
}
